<div class="area-of-interest container">

  <%= render "shared/card", contact: @student %>

  <div class="row">
    <ul class="collection col s12 m6 offset-m3">
      <% @student.guardians.active.each do |guardian| %>
        <%= render "shared/collection",
            contact: guardian,
            path: guardian_path(guardian, student_id: @student.id),
            relationship: guardian.relationship %>
      <% end %>
    </ul>
  </div>
</div>


<%= render "/shared/buttons/lg_amber",
    path: new_guardian_path(student_id: @student.id),
    delete_path: student_path(@student),
    edit_path: edit_student_path(@student) %>

<%= render "shared/delete_modal",
    model: @student,
    path: student_path(@student, group_id: @group_id) %>
