<div class="input-field">
  <%= form.label :body %>
  <%= form.text_area :body, class: "materialize-textarea" %>
</div>
<div class="input-field align-right">
  <%= form.submit "Send", class: "btn waves-effect waves-light indigo darken-3"  %>
</div>
