<div class="container row">
  <ul class="collection col s12 m6 offset-m3">
    <% @group.students.active.each do |student| %>
      <%= render "shared/card",
          contact: student,
          path: student_path(student, group_id: @group.id) %>
    <% end %>
  </ul>
</div>

<%= render "/shared/buttons/lg_amber",
    path: new_student_path(group_id: @group.id),
    delete_path: group_path(@group),
    edit_path: edit_group_path(@group) %>

<%= render "shared/delete_modal", model: @group, path: group_path(@group) %>
