<div class="container row">
  <ul class="collection col s12 m6 offset-m3">
    <% @students.each do |student| %>
      <%= render "shared/card", contact: student, path: student_path(student) %>
    <% end %>
  </ul>
</div>

<%= render "shared/buttons/delete", icon: "delete", path: @group %>
<%= render "shared/delete_modal", model: @group %>
