<div class="card">
  <div class="card-content">
    <h4><%= student.name %></h4>
    <table>
      <tr>
        <th>Phone:</th>
        <td><%= student.phone_number %></td>
      </tr>
      <tr>
        <th>Language:</th>
        <td><%= student.language %></td>
      </tr>
      <tr>
        <th>Total messages:</th>
        <td><%= student.messages.count %></td>
      </tr>
    </table>
  </div>
</div>
