<li class="collection-item valign-wrapper">
  <div class="center-align">
    <%= render "shared/buttons/lg_indigo",
        icon: "textsms",
        path: new_message_path( contact_id: contact.id,
                                contactable_type: contact.class.to_s) %>
  </div>
  <div class="col offset-m1">
    <%= render "shared/collection/header",
        path: path,
        link_text: contact.name %>
    <%= render "shared/collection/body",
        phone: contact.phone_number,
        language: contact.language,
        relationship: relationship %>
  </div>
</li>
