<div class="container row">
  <div class="card">
    <div class="card-content">
      <div class="center-align">
        <h4><%= group.name %></h4>
      </div>
      <div class="container">
        <% if group.has_enrollment? %>
          <%= bar_chart [ ["Students", group.students.active.count],
                          ["Guardians", group.guardian_count]],
                          max: group.enrollment_display_scale,
                          label: "Enrollment",
                          library: { title: 'Enrollment'} %>
        <% end %>
        <% if group.has_message? %>
          <%= bar_chart [ ["Student", group.student_message_count],
                          ["Guardian", group.guardian_message_count]],
                          max: group.message_display_scale,
                          label: "Messages",
                          library: {title: 'Messages'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
