<% if current_user %>
  <div class="fixed-action-btn">
    <%= render "shared/buttons/lg_amber", icon: "add", path: new_group_path %>
    <ul>
      <%= render "shared/buttons/sm", icon: "textsms", path: nil, id: "new-message" %>
      <%= render "shared/buttons/sm", icon: "account_circle", path: new_student_path, id: "new-student" %>
      <%= render "shared/buttons/sm", icon: "group_work", path: new_group_path, id: "new-group" %>
    </ul>
  </div>
<% end %>
