<% if current_user %>
  <div class="fixed-action-btn">
    <%= link_to content_tag(:i, "add", class: ["large", "material-icons"]), new_group_path, class: "btn-floating btn-large waves-effect waves-light amber accent-2" %>
  </div>
<% end %>
