<div class="parallax-container">
    <div class="parallax"><%= image_tag "class1.png" %></div>
  </div>
  <div class="section indigo lighten-2">
    <div class="row container">
      <%= image_tag "logo.png", class: "responsive-img logo" %>
      <h5 class="white-text">
        Uhura is making it easier than ever for educators, students, and families to communicate.
      </h5>
      <%= link_to "Sign in with Google", login_path, class: "waves-effect waves-light btn red" %>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag "class2.png" %></div>
  </div>
