<div class="col m4 center-align">
  <%= content_tag(:i, icon, class: "material-icons large white-text") %>
  <h5 class="white-text"><%= header_content %></h5>
  <div class="container">
    <p class="white-text left-align">
      <%= body_content %>
    </p>
  </div>
</div>
