<div class="col m4 center-align">
  <%= content_tag(:i, "school", class: "material-icons large white-text") %>
  <h5 class="white-text">Drive Achievement</h5>
  <div class="container">
    <p class="white-text left-align">
      Communication between families and school is a key part of student success. Uhura is built by educators and takes into account the things that matter most.
    </p>
  </div>
</div>
