<div id="open-modal" class="modal start-open">
  <div class="modal-content">
    <div class="row">
      <div class="col s11">
        <h4><%= header %></h4>
      </div>
      <div class="offset-s12">
        <a href="#" class="modal-close"><i class="material-icons small black-text">close</i></a>
      </div>
    </div>
    <span class="flow-text">
      <%= text %>
    </span>
    <%= render "shared/small_space" %>
    <div class="row center-align">
      <%= link_to link_text, link_path, class: "waves-effect waves-light btn indigo darken-3" %>
    </div>
  </div>
</div>
