body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

img.logo{
    width:150px;
    height: auto;
}

img.logo-footer{
    width:80px;
    height: auto;
}

.top-nav {
  height: 80px
}

.small-space {
  height: 40px
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ffd740 !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #ffecb3 !important;
}

#footer {
  margin-top: 0
}
